IOT Project Filles/Node red flows/flows.json
[{"id":"c52daca6.86e1f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24751cff.532ba4","type":"ibmiot in","z":"c52daca6.86e1f","authentication":"apiKey","apiKey":"9e0d49ca.00ed38","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2468","applicationId":"","deviceType":"SmartDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":220,"wires":[["ba0be9.7e846418","20ab5bd2.cc2fd4","678f2a4b.bdec94","441e6128.6d6","28966397.efa1bc","52bd8e08.4429b","abb5c658.e9d588","91a43cad.f5cb5","a90ca364.65a4c","993ed543.936f08","6c68bb69.d494b4"]]},{"id":"ba0be9.7e846418","type":"debug","z":"c52daca6.86e1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1120,"wires":[]},{"id":"20ab5bd2.cc2fd4","type":"function","z":"c52daca6.86e1f","name":"Temperature","func":"msg.payload = msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1160,"wires":[["ba0be9.7e846418","6dacfe4.aba9"]]},{"id":"678f2a4b.bdec94","type":"function","z":"c52daca6.86e1f","name":"Humidity","func":"msg.payload = msg.payload.humidity\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1200,"wires":[["ba0be9.7e846418","c87aa3da.243e2"]]},{"id":"6dacfe4.aba9","type":"ui_chart","z":"c52daca6.86e1f","name":"","group":"c75bde90.d35b2","order":1,"width":13,"height":5,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":1160,"wires":[[]]},{"id":"c87aa3da.243e2","type":"ui_gauge","z":"c52daca6.86e1f","name":"","group":"c75bde90.d35b2","order":3,"width":7,"height":6,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":1200,"wires":[]},{"id":"3a93df71.aaf11","type":"ui_button","z":"c52daca6.86e1f","name":"","group":"57fa06b5.93c9f8","order":1,"width":5,"height":1,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":410,"y":1260,"wires":[["80965896.58a488","d79513b.d0581f"]]},{"id":"daa32f27.99bf8","type":"ui_button","z":"c52daca6.86e1f","name":"","group":"57fa06b5.93c9f8","order":2,"width":5,"height":1,"passthru":false,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"lightoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":410,"y":1300,"wires":[["80965896.58a488","d79513b.d0581f"]]},{"id":"80965896.58a488","type":"debug","z":"c52daca6.86e1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1260,"wires":[]},{"id":"d79513b.d0581f","type":"ibmiot out","z":"c52daca6.86e1f","authentication":"apiKey","apiKey":"9e0d49ca.00ed38","outputType":"cmd","deviceId":"2468","deviceType":"SmartDevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":1300,"wires":[]},{"id":"1a321530.b5fa5b","type":"http in","z":"c52daca6.86e1f","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":230,"y":1380,"wires":[["652f1051.b6c68"]]},{"id":"f829dd6b.7dbdf","type":"http response","z":"c52daca6.86e1f","name":"","statusCode":"","headers":{},"x":610,"y":1340,"wires":[]},{"id":"652f1051.b6c68","type":"function","z":"c52daca6.86e1f","name":"","func":"msg.payload = { \"temp\" : global.get('t'), \"hum\" : global.get('h')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1360,"wires":[["f829dd6b.7dbdf","d9961ceb.d56a9"]]},{"id":"d9961ceb.d56a9","type":"debug","z":"c52daca6.86e1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":1380,"wires":[]},{"id":"db888091.98cf5","type":"http in","z":"c52daca6.86e1f","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":290,"y":1420,"wires":[["722512fc.638dcc","d9961ceb.d56a9","d79513b.d0581f"]]},{"id":"722512fc.638dcc","type":"http response","z":"c52daca6.86e1f","name":"","statusCode":"","headers":{},"x":640,"y":1420,"wires":[]},{"id":"441e6128.6d6","type":"debug","z":"c52daca6.86e1f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1000,"wires":[]},{"id":"28966397.efa1bc","type":"function","z":"c52daca6.86e1f","name":"Water Tank Level","func":"msg.payload = msg.payload.watertanklevel\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1040,"wires":[["441e6128.6d6","5e2ead17.e7e914"]]},{"id":"52bd8e08.4429b","type":"function","z":"c52daca6.86e1f","name":"Light Intensity","func":"msg.payload = msg.payload.lightintensity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1080,"wires":[["441e6128.6d6","cfa33880.871148"]]},{"id":"cfa33880.871148","type":"ui_gauge","z":"c52daca6.86e1f","name":"","group":"c71dde61.e1549","order":3,"width":7,"height":7,"gtype":"donut","title":"Light Intensity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":1080,"wires":[]},{"id":"5e2ead17.e7e914","type":"ui_gauge","z":"c52daca6.86e1f","name":"","group":"c71dde61.e1549","order":1,"width":7,"height":7,"gtype":"wave","title":"Water Tank Level","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":1040,"wires":[]},{"id":"abb5c658.e9d588","type":"debug","z":"c52daca6.86e1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"91a43cad.f5cb5","type":"function","z":"c52daca6.86e1f","name":"Body Temperature","func":"msg.payload = msg.payload.body_temperature\nglobal.set('b',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":40,"wires":[["abb5c658.e9d588","f00f8f08.98e3f","42a5c82e.9f65c8"]]},{"id":"a90ca364.65a4c","type":"function","z":"c52daca6.86e1f","name":"Pulse Rate","func":"msg.payload = msg.payload.pulse_rate\nglobal.set('p',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[["abb5c658.e9d588","58fa792d.627ac8","42a5c82e.9f65c8"]]},{"id":"993ed543.936f08","type":"function","z":"c52daca6.86e1f","name":"Systolic Blood Pressure","func":"msg.payload = msg.payload.systolic_blood_pressure\nglobal.set('s',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":120,"wires":[["abb5c658.e9d588","6d0a74f2.3e31dc","42a5c82e.9f65c8"]]},{"id":"6c68bb69.d494b4","type":"function","z":"c52daca6.86e1f","name":"Diastolic Blood Pressure","func":"msg.payload = msg.payload.diastolic_blood_pressure\nglobal.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":160,"wires":[["abb5c658.e9d588","6a94f2bf.5f360c","42a5c82e.9f65c8"]]},{"id":"f00f8f08.98e3f","type":"ui_gauge","z":"c52daca6.86e1f","name":"","group":"b6469c87.a94e2","order":1,"width":7,"height":6,"gtype":"donut","title":"Body Temperature","label":"fahrenheit","format":"{{value}}","min":"95","max":"102","colors":["#b5212b","#1be600","#ca3838"],"seg1":"96.8","seg2":"100.4","x":650,"y":40,"wires":[]},{"id":"58fa792d.627ac8","type":"ui_gauge","z":"c52daca6.86e1f","name":"","group":"b6469c87.a94e2","order":3,"width":7,"height":6,"gtype":"donut","title":"Pulse Rate","label":"beats per minute","format":"{{value}}","min":"40","max":"120","colors":["#ca2b2b","#00c20d","#cf2a2a"],"seg1":"60","seg2":"100","x":650,"y":80,"wires":[]},{"id":"6d0a74f2.3e31dc","type":"ui_gauge","z":"c52daca6.86e1f","name":"","group":"b6469c87.a94e2","order":10,"width":7,"height":6,"gtype":"donut","title":"Systolic Blood Pressure","label":"millimeters of mercury","format":"{{value}}","min":"60","max":"150","colors":["#c91d1d","#04bc01","#ce2222"],"seg1":"90","seg2":"120","x":670,"y":120,"wires":[]},{"id":"6a94f2bf.5f360c","type":"ui_gauge","z":"c52daca6.86e1f","name":"","group":"b6469c87.a94e2","order":12,"width":7,"height":6,"gtype":"donut","title":"Diastolic Blood Pressure","label":"millimeters of mercury","format":"{{value}}","min":"40","max":"100","colors":["#dc1e1e","#22c502","#dc2e2e"],"seg1":"60","seg2":"80","x":690,"y":160,"wires":[]},{"id":"56d94b0a.9678b4","type":"function","z":"c52daca6.86e1f","name":"webpage","func":"msg.payload={ \"btp\" :global.get('b'), \"plr\" :global.get('p'), \"sbp\" :global.get('s'), \"dbp\" :global.get('d')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":380,"wires":[["3f42991c.7c0e46"]]},{"id":"fcfe15f9.805728","type":"http in","z":"c52daca6.86e1f","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":340,"y":380,"wires":[["56d94b0a.9678b4"]]},{"id":"3f42991c.7c0e46","type":"http response","z":"c52daca6.86e1f","name":"","statusCode":"","headers":{},"x":730,"y":380,"wires":[]},{"id":"7ebeb88c.4ec808","type":"http request","z":"c52daca6.86e1f","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=M8GE1TjRLstHhfoJPzUvxpcINi7BgbnaKe4Wu59DQwdq6ZC2S0vnewiB2oTOQqWSEKx4lGrLJ8VhMHXf&route=q&message=Dear%20Doctor,%0Ayour%20patient's%20health%20parameters%20are%20abnormal.&language=english&flash=0&numbers=822008043","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":280,"wires":[["75f3985c.5a6208"]]},{"id":"75f3985c.5a6208","type":"debug","z":"c52daca6.86e1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"f15991fa.1af22","type":"inject","z":"c52daca6.86e1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":260,"wires":[["42a5c82e.9f65c8"]]},{"id":"42a5c82e.9f65c8","type":"rbe","z":"c52daca6.86e1f","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":430,"y":320,"wires":[["18fb3683.af2259"]]},{"id":"18fb3683.af2259","type":"switch","z":"c52daca6.86e1f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"","vt":"num"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":280,"wires":[["7ebeb88c.4ec808","75f3985c.5a6208"],[]]},{"id":"9e0d49ca.00ed38","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c75bde90.d35b2","type":"ui_group","name":"Input Data","tab":"6cbc34ef.196acc","order":1,"disp":true,"width":"13","collapse":false},{"id":"57fa06b5.93c9f8","type":"ui_group","name":"Control","tab":"cc099a13.e7b378","order":2,"disp":true,"width":10,"collapse":false},{"id":"c71dde61.e1549","type":"ui_group","name":"Sensor Data","tab":"cc099a13.e7b378","order":1,"disp":true,"width":17,"collapse":false},{"id":"b6469c87.a94e2","type":"ui_group","name":"Sensor Data","tab":"c1dcc362.3d283","order":1,"disp":true,"width":15,"collapse":true},{"id":"6cbc34ef.196acc","type":"ui_tab","name":"Smart pump Controller Application","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"cc099a13.e7b378","type":"ui_tab","name":"Smart IOT Application","icon":"dashboard","disabled":false,"hidden":false},{"id":"c1dcc362.3d283","type":"ui_tab","name":"Smart patient monitoring Application","icon":"dashboard","disabled":false,"hidden":false}]